[Desktop Entry]
Encoding=UTF-8
Name=Sked wiki-schedule
Name[pt_BR]=Wiki-agenda Sked
GenericName=Calendar
GenericName[pt]=Agenda
Comment=Store notes, appointments and text fragments in a wiki
Comment[pt_BR]=Guarde notas, compromissos e trechos de textos em um wiki
Exec=sked
Icon=sked
StartupNotify=yes
Terminal=false
Type=Application
Categories=Application;Office;Calendar;
